*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}
/*pantalla-0*/
#img-yape{
  width: 100%;
  height: 99vh;
}
.mora{
  background-color: #3e142b;
}
.padding{
  padding: 0!important;
}
.margin{
  margin: 0!important;
}
.carousel-container{
  width: 100%;
  height: 100%;
  min-height: 530px;
}
.img-carousel{
  height: 70%;
  background-size: cover;
}
.black-text {
  color: #212121;
}
.gris-text {
  color: #777777;
}
.mora-text {
  color:#482036;
}
.font10px{
  font-size: 13px;
}
.carousel.carousel-slider
.carousel-item h2 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.carousel.carousel-slider
.carousel-item p {
  font-size: 14px;
}
.background-button{
  background-color:#fbd43b;
}
.heigth {
  height: 98vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  box-shadow: none;
}
.btn-white {
  width: 90%;
  height: 50px;
  font-size: 20px;
}
.carousel{
  height: 430px !important;
}
.columCenter {
  margin-top: 80px;
  margin-bottom: 90px;
}
/*pantalla 2*/

.img-logo {
  width: 45%;
}
.label-input {
  width: 20%;
  position: absolute;
}
input[type=number]:focus:not([readonly]), input[type=number],
input[type=text],input[type=text]:focus:not([readonly]),
input[type=email],input[type=email]:focus:not([readonly]),
input[type=password],input[type=text]:focus:not([readonly]){
  text-align: center;
}
input[type=number]:focus:not([readonly]),input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),input[type=password]:focus:not([readonly]){
  border-bottom:1.5px solid #fbd43b;
  box-shadow: none;
}
.p-top {
  position: relative;
  margin-top: 50px;
}

.img-input {
  position: absolute;
  width: 8%;
}
.img-label{
  width: 8%;
  position: absolute;
  display: block;
}
.icon {
  width: 100%;
}
